*{
    margin: 0;
    padding: 0;
}
.inputform{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
    margin-top: 8%;
    padding-top: 30px;
}
.inputform input{
    margin: 10px 3px 10px 3px;
    padding: 5px 5px 5px 5px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
}
.output{
    margin-top: 20px;
    background-color: gray;
    width: 25vw;
    height: 50vh;
    border-radius: 10px;
    margin-bottom: 30px;
    /* align-self: center; */
    /* align-items: center; */
}
.cover{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
th,td{
    text-align: center;
}
.invent th{
   padding: 10px;
}
span{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;

}